@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/tiptap/styles.css";
@import "@mantine/dates/styles.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
